##Disciplina - Introdução a Ciência de Dados - Univesp
##Exercícios de Apoio da Semana 2

###1 - Carregue as bibliotecas NumPy e Pandas

In [24]:
import numpy as np
import pandas as pd

###2 - Crie um NDArray com os seguintes valores [1, 2.5, 7, -78, -0.9, 130, 25]

In [25]:
valores0 = [1,2.5,7,-78,-0.9,130,25]
array0 = pd.array(valores0)
array0

<FloatingArray>
[1.0, 2.5, 7.0, -78.0, -0.9, 130.0, 25.0]
Length: 7, dtype: Float64

###3 - Crie um NDArray com os valores de 0 a 10

In [26]:
array1=np.arange(11)
array1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

###4 – Crie um NDArray de dimensão 2x5 com valores 1

In [27]:
array2=np.ones((2,5))
array2

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

###5 – Crie um NDArray com valores de 1 a 100, com intervalos de 3 em 3.

In [28]:
array3=np.arange(1,101,3)
array3

array([  1,   4,   7,  10,  13,  16,  19,  22,  25,  28,  31,  34,  37,
        40,  43,  46,  49,  52,  55,  58,  61,  64,  67,  70,  73,  76,
        79,  82,  85,  88,  91,  94,  97, 100])

###6 – Mostre as raízes quadradas dos valores do NDArray criado no exercícios 5.

In [29]:
np.sqrt(array3)

array([ 1.        ,  2.        ,  2.64575131,  3.16227766,  3.60555128,
        4.        ,  4.35889894,  4.69041576,  5.        ,  5.29150262,
        5.56776436,  5.83095189,  6.08276253,  6.32455532,  6.55743852,
        6.78232998,  7.        ,  7.21110255,  7.41619849,  7.61577311,
        7.81024968,  8.        ,  8.18535277,  8.36660027,  8.54400375,
        8.71779789,  8.88819442,  9.05538514,  9.21954446,  9.38083152,
        9.53939201,  9.69535971,  9.8488578 , 10.        ])

###7 – Altere a décima posição do NDArray criado no exercício 5 com o dobro do seu valor.

In [30]:
array3[10]=array3[10]*2
array3

array([  1,   4,   7,  10,  13,  16,  19,  22,  25,  28,  62,  34,  37,
        40,  43,  46,  49,  52,  55,  58,  61,  64,  67,  70,  73,  76,
        79,  82,  85,  88,  91,  94,  97, 100])

###8 – Execute o comando para criar um Dataframe com os dados disponíveis no notebook.

In [31]:
dados={'Empresa':['Microsoft', 'Google','Univesp','NVData Analytics','Power Bi Experience','USP'], 'Qtde Func':[1000, 1500,500, 100,100,499], 'Site':['https://www.microsoft.com/pt-br','https://www.google.com/','https://univesp.br/','https://www.nvdata.com.br/','https://powerbiexperience.com/pt/','https://www.usp.br/'],'Instagram':['@microsoft','@google','@univespoficial','@nv_data','@leokarpa','@usp.oficial'],'Criação':[1975,1998,2012,2019,2016,1934], 'País':['EUA','EUA','Brasil','Brasil','Brasil','Brasil']}

In [32]:
dataframe0=pd.DataFrame(dados)
dataframe0

,Empresa,Qtde Func,Site,Instagram,Criação,País
0,Microsoft,1000,https://www.microsoft.com/pt-br,@microsoft,1975,EUA
1,Google,1500,https://www.google.com/,@google,1998,EUA
2,Univesp,500,https://univesp.br/,@univespoficial,2012,Brasil
3,NVData Analytics,100,https://www.nvdata.com.br/,@nv_data,2019,Brasil
4,Power Bi Experience,100,https://powerbiexperience.com/pt/,@leokarpa,2016,Brasil
5,USP,499,https://www.usp.br/,@usp.oficial,1934,Brasil

###9 – Execute um comando que seja possível identificar qual a média da quantidade de funcionários que as empresas listadas tem. Informe também a soma dos funcionários que as empresas tem.

In [33]:
dataframe0.describe()

         Qtde Func      Criação
count     6.000000     6.000000
mean    616.500000  1992.333333
std     545.631286    32.843061
min     100.000000  1934.000000
25%     199.750000  1980.750000
50%     499.500000  2005.000000
75%     875.000000  2015.000000
max    1500.000000  2019.000000

In [34]:
dataframe0["Qtde Func"].sum()

3699

###10 – Mostre as primeiras 3 linhas do dataframe.

In [35]:
dataframe0.head(3)

,Empresa,Qtde Func,Site,Instagram,Criação,País
0,Microsoft,1000,https://www.microsoft.com/pt-br,@microsoft,1975,EUA
1,Google,1500,https://www.google.com/,@google,1998,EUA
2,Univesp,500,https://univesp.br/,@univespoficial,2012,Brasil

###11 – Mostre as últimas 3 linhas do dataframe.

In [36]:
dataframe0.tail(3)

,Empresa,Qtde Func,Site,Instagram,Criação,País
3,NVData Analytics,100,https://www.nvdata.com.br/,@nv_data,2019,Brasil
4,Power Bi Experience,100,https://powerbiexperience.com/pt/,@leokarpa,2016,Brasil
5,USP,499,https://www.usp.br/,@usp.oficial,1934,Brasil

###12 – Liste apenas as linhas em que as empresas foram criadas nos últimos 10 anos. Informe a quantidade de registros.

In [37]:
dataframe0[dataframe0['Criação']>=2011]

,Empresa,Qtde Func,Site,Instagram,Criação,País
2,Univesp,500,https://univesp.br/,@univespoficial,2012,Brasil
3,NVData Analytics,100,https://www.nvdata.com.br/,@nv_data,2019,Brasil
4,Power Bi Experience,100,https://powerbiexperience.com/pt/,@leokarpa,2016,Brasil

###13 – Vamos imaginar que em todas as empresas exista 1 chefe para cada 23 funcionários. Crie uma coluna que mostre a quantidade de chefes que cada empresa teria e depois informe quantos chefes teríamos ao todo. (os valores não precisam ser números inteiros, é apenas uma estimativa).

In [38]:
dataframe0['Chefes']=dataframe0['Qtde Func']/23
dataframe0['Chefes']

0    43.478261
1    65.217391
2    21.739130
3     4.347826
4     4.347826
5    21.695652
Name: Chefes, dtype: float64

In [41]:
dataframe0['Chefes'].sum()

160.82608695652175